<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="style.css">
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
	<div class="row">
		<div class="col-sm-6" ng-repeat="x in records">
			<div class="thumbnail">
				<img src="https://placehold.it/242x200" alt="..." data-toggle="modal" data-target="#myModal{{x.id}}">
				<div class="caption">
					<h3>{{x.title.rendered}}</h3>
					<p>{{x.excerpt.rendered}}</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div  ng-repeat="x in records" class="modal fade" id="myModal{{x.id}}" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{x.title.rendered}}</h4>
					<h5>{{x.excerpt.rendered}}</h5>
				</div>
				<div class="modal-body">
					<p><img src="https://placehold.it/242x200" alt="..."></p>
					<p>{{x.content.rendered}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="hide btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

</div>
<script src="script.js"></script>
</body>
</html>
